<section class="navbar-section1" id="navbar-section">
  <div class="container-fluid">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link ms-1 first" href="/database">All records</a>
          </li>
          <li class="tarp-wh nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link ms-1 second" href="/create">Create new</a>
          </li>
          <li class="tarp-wh nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link ms-1 third" href="/edit">Edit</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</section>
