<%- include('partials/header') %>

<section class="blue-section" id="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="blue-space-search">
          <h1>LEAF-MINING NEPTICULIDAE OF THE WORLD</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="clear-section">
  <div class="container-fluid">
    <div class="empty-space4">
      <p class="intro"> </p>
    </div>
  </div>
</section>

<section class="grey-section">
  <div class="container-fluid">
    <p class="justify top"><span class="bold">By e-mail:</span> remeikis.andrew@gmail.com <br>
      <span class="bold">By phone:</span> +370 638 60929
    </p>
</section>

<section class="clear-section">
  <div class="container-fluid">
    <div class="empty-space4">
      <p class="intro"> </p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
