<%- include('partials/header2') %>
<%- include('partials/admin-header') %>

<div class="container">
  <div class="jumbotron centered">

    <i class="fas fa-poll fa-6x"></i>
    <h1 class="display-3">Create new</h1>
    <p class="records-text">NeptiDB</p>

    <form action="/create" method="post">

      <div class="form-group">
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="region" placeholder="region">
        </div>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="species" placeholder="species">
        </div>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="hostplantfamily1" placeholder="hostplant family">
        </div>
        <div id="add_hostplant11"></div>
        <button class="plus-button" type="button" onclick="hostplantAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="forewing1" placeholder="forewing">
        </div>
        <div id="add_forewing11"></div>
        <button class="plus-button" type="button" onclick="forewingAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="tegumen1" placeholder="tegumen">
        </div>
        <div id="add_tegumen11"></div>
        <button class="plus-button" type="button" onclick="tegumenAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="uncus1" placeholder="uncus">
        </div>
        <div id="add_uncus11"></div>
        <button class="plus-button" type="button" onclick="uncusAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="gnathos1" placeholder="gnathos">
        </div>
        <div id="add_gnathos11"></div>
        <button class="plus-button" type="button" onclick="gnathosAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="valva1" placeholder="valva">
        </div>
        <div id="add_valva11"></div>
        <button class="plus-button" type="button" onclick="valvaAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="juxta1" placeholder="juxta">
        </div>
        <div id="add_juxta11"></div>
        <button class="plus-button" type="button" onclick="juxtaAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="transtilla1" placeholder="transtilla">
        </div>
        <div id="add_transtilla11"></div>
        <button class="plus-button" type="button" onclick="transtillaAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="vinculum1" placeholder="vinculum">
        </div>
        <div id="add_vinculum11"></div>
        <button class="plus-button" type="button" onclick="vinculumAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="phalluswithoutcarinae1" placeholder="phallus without carinae">
        </div>
        <div id="add_phalluswithoutcarinae11"></div>
        <button class="plus-button" type="button" onclick="phalluswithoutcarinaeAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="phalluswithcarinae1" placeholder="phallus with carinae">
        </div>
        <div id="add_phalluswithcarinae11"></div>
        <button class="plus-button" type="button" onclick="phalluswithcarinaeAdd()">+</button><br><br>
        <div class="form-row form-row-add">
          <input type="text" class="form-control text-center" name="filepath" placeholder="file path">
        </div>

        <input type="hidden" id="hostplant21" name="hostplant22" value="1">
        <input type="hidden" id="forewing21" name="forewing22" value="1">
        <input type="hidden" id="tegumen21" name="tegumen22" value="1">
        <input type="hidden" id="uncus21" name="uncus22" value="1">
        <input type="hidden" id="gnathos21" name="gnathos22" value="1">
        <input type="hidden" id="valva21" name="valva22" value="1">
        <input type="hidden" id="juxta21" name="juxta22" value="1">
        <input type="hidden" id="transtilla21" name="transtilla22" value="1">
        <input type="hidden" id="vinculum21" name="vinculum22" value="1">
        <input type="hidden" id="phalluswithoutcarinae21" name="phalluswithoutcarinae22" value="1">
        <input type="hidden" id="phalluswithcarinae21" name="phalluswithcarinae22" value="1">

      </div>
      <button type="submit" class="btn yellow-button w-100" onclick="return confirm('Are you sure you want to create a new record?');">CREATE</button>
    </form>

  </div>
</div>

<script>
  var value = 2;
  var div = 1;
  var addHostplant = "add_hostplant1";

  function hostplantAdd() {
    var join = addHostplant + div;
    div++;
    document.getElementById(join).innerHTML +=
      `
        <div class="form-row form-row-add">
            <input type="text" class="form-control text-center" name="hostplantfamily` + value + `" placeholder="hostplant family">
        </div>
        <div id="add_hostplant1` + div + `">
      `;
    document.getElementById("hostplant21").value = value;
    value++;
  }
</script>
<script>
  var value1 = 2;
  var div1 = 1;
  var addForewing = "add_forewing1";

  function forewingAdd() {
    var join1 = addForewing + div1;
    div1++;
    document.getElementById(join1).innerHTML +=
      `
        <div class="form-row form-row-add">
            <input type="text" class="form-control text-center" name="forewing` + value1 + `" placeholder="forewing">
        </div>
        <div id="add_forewing1` + div1 + `">
      `;
    document.getElementById("forewing21").value = value1;
    value1++;
  }
</script>
<script>
  var value2 = 2;
  var div2 = 1;
  var addTegumen = "add_tegumen1";

  function tegumenAdd() {
    var join2 = addTegumen + div2;
    div2++;
    document.getElementById(join2).innerHTML +=
      `
        <div class="form-row form-row-add">
            <input type="text" class="form-control text-center" name="tegumen` + value2 + `" placeholder="tegumen">
        </div>
        <div id="add_tegumen1` + div2 + `">
      `;
    document.getElementById("tegumen21").value = value2;
    value2++;
  }
</script>


<%- include('partials/footer') %>
