<%- include('partials/header') %>

    <!-- Title -->
<section class="blue-section" id="title">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">

        <div class="blue-space">
          <h1>LEAF-MINING <br> NEPTICULIDAE OF THE WORLD</h1>
          <h4>Updated generic composition and a tool for species diagnostics</h4>
          <a class="btn" href="#select-region" role="button">SELECT THE REGION</a>
        </div>

      </div>
    </div>

  </div>

</section>

<!-- About -->
<section class="clear-section" id="about">
  <div class="container-fluid">

    <div class="white-space">

      <h5 class="intro"> This Website provides authoritative information on the
        current taxonomy of Nepticulidae and aims to help identify the species
        mostly on the basis of masle genitalia characters </h5>
    </div>

  </div>
</section>

<!-- Carousel -->
<section class="grey-section" id="slides">

  <div id="carouselAbout" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <p class="justify">
          It is a product by many researchers, including Prof.
      Dr. Jonas R. Stonis, Dr. Andrius Remeikis, Assoc. Prof. Dr. Arūnas
      Diškus (Nature Research Centre, Vilnius, Lithuania), Dr. M. Alma Solis
      (Systematic Entomology Laboratory, ARS; United States Department of
      Agriculture; and National Museum of Natural History, Smithsonian
      Institution, Washington D.C., USA) in cooperation with the Baltic-American
      Biotaxonomy Institute (B.A.B.I.) and many other professional researchers
      and devoted volunteers worldwide to whom we extend our thanks. The Website
      and the research itself are constantly in progress and currently only some
      geographical areas are covered by data. This project was partially funded
      by a grant (S-MIP-19-30, “DiagnoStics”) from the Research Council of
      Lithuania.
    </p>
      </div>
      <div class="carousel-item container-fluid">
        <p class="justify">Nepticulidae or pygmy moths phylogenetically are among
        the most basal and primitive Lepidoptera lineages and include the world’s
        smallest lepidopterans. Larvae of ecologically specialized, mostly monophagous,
        Nepticulidae are usually leaf miners on various dendraceous and herbaceous plants.
        However, larvae of some species live and feed in stems, bark or maple fruits;
        occasionally they can be gall inducers. Some of Nepticulidae species are pests
        or potential pests of cultivated plants.</p>
        <!-- <a id="readMore2" href="#">Read more </a> -->
      </div>
    </div>
    <div class="readMoreclass">
          <a id="readMore" href="#1">Read more...</a>
    </div>
    <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>

<!-- empty space-->
<section class="clear-section">
  <div class="container-fluid">
    <div class="empty-space1">
      <p class="intro"> </p>
    </div>
  </div>
</section>

<!-- select region header-->
<section class="grey-section" id="select-region">
  <div class="container-fluid">
      <h5 class="">SELECT THE REGION FOR DIAGNOSTICS</h5>
  </div>
</section>

<section class="white-section" id="region">
  <div class="container-fluid">
    <div class="white-space">

        <div class="region-box ">
          <a href="/search-central-america">
            <img class="region-img" src="images/website/CENTRAL_AMERICA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">CENTRAL AMERICA</h5>
        </div>

        <div class="region-box ">
          <a href="/search-south-america">
            <img class="region-img" src="images/website/SOUTH_AMERICA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">SOUTH AMERICA</h5>
        </div>

        <div class="region-box ">
          <a href="/search-central-asia">
            <img class="region-img" src="images/website/CENTRAL_ASIA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">CENTRAL ASIA</h5>
        </div>

        <div class="region-box ">
          <a href="/search-continental-east-asia">
            <img class="region-img" src="images/website/CONTINENTAL_EAST_ASIA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">CONTINENTAL EAST ASIA</h5>
        </div>

        <div class="region-box ">
          <a href="/search-the-himalaya">
            <img class="region-img" src="images/website/THE_HIMALAYA.png" alt="central-america-img">
          </a>
          <h5 class="select-region-below">THE HIMALAYA</h5>
        </div>

    </div>
  </div>

</section>

<!-- learn about -->
<section class="grey-section" id="learn-a">
  <div class="container-fluid">
        <h5 class="">LEARN ABOUT</h5>
  </div>
</section>

<section class="" id="learn-about">
  <div class="container-fluid">
    <div class="row">
      <div class="box green col col-12 col-sm-6 col-md-3">
        <h4>METHODS & TECHNIQUES</h4>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="box blue col col-12 col-sm-6 col-md-3">
        <h4>GENERA OF NEPTICULIDAE</h4>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="box orange col col-12 col-sm-6 col-md-3">
        <h4>BIODIVERSITY INVENTORY</h4>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="box mint col col-12 col-sm-6 col-md-3">
        <h4>CITED REFERENCES</h4>
      </div>
    </div>
  </div>
</section>

<!-- empty space-->
<section class="clear-section">
  <div class="container-fluid">

    <div class="empty-space2">
      <p class="intro"> </p>
    </div>

  </div>
</section>

<script type="text/javascript">
  $('#readMore').click(function(e) {
    e.stopPropagation();
    $('.justify').css({
        'height': 'auto',
    })
});

$(document).click(function() {
    $('.justify').css({
        'height': '120px'
    })
})

$('#readMore').click(function(e) {
  e.stopPropagation();
  $('#readMore').css({
      'display': 'none',
  })
});

$(document).click(function() {
  $('#readMore').css({
      'display': 'block'
  })
})


</script>


<%- include('partials/footer') %>
